#common ignores
.DS_Store 
.hg/
.idea/
local/*
files/*
!files/TokenSociety
files/TokenSociety/uploads/*/*
!files/TokenSociety/uploads/Users/.dir
!files/TokenSociety/uploads/Streams/.dir
text/*
!text/TokenSociety
web/Q/plugins/*
web/Q/uploads
web/Q/text
web/Q/views
vendor/
npm_modules/
!*.dir
